/Mixer/bin/*
/Mixer/obj/*
/SoundGenerator/bin/*
/SoundGenerator/obj/*
/.vs/*
/packages/*
/SoundGenerator/packages.config
/SoundGenerator/App.config
/full.zip
/Mixer/packages.config
/Mixer/App.config
